Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@emeagenciadigital 
fastandstatic
/
scp-static
Public
Fork your own copy of fastandstatic/scp-static
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
scp-static/wp-content/uploads/elementor/css/post-48810.css
@emeagenciadigital
emeagenciadigital Added simply-static-1-1674149475
Latest commit b6220b1 last week
 History
 1 contributor
418 lines (397 sloc)  10.1 KB

.elementor-48810 .elementor-element.elementor-element-0cfc35e > .elementor-container{min-height:33vh;}.elementor-48810 .elementor-element.elementor-element-0cfc35e{margin-top:0px;margin-bottom:0px;}.elementor-48810 .elementor-element.elementor-element-a2a0885:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-48810 .elementor-element.elementor-element-a2a0885 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/28171912/bannerweb-blog-1.webp");background-position:bottom center;background-repeat:no-repeat;background-size:cover;}.elementor-48810 .elementor-element.elementor-element-a2a0885 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-48810 .elementor-element.elementor-element-a2a0885 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-48810 .elementor-element.elementor-element-823695a > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-48810 .elementor-element.elementor-element-aa9abd2 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-widget .tippy-tooltip .tippy-content{text-align:center;}@media(max-width:767px){.elementor-48810 .elementor-element.elementor-element-0cfc35e > .elementor-container{min-height:32vh;}}/* Start custom CSS */.container {
    max-width: 1200px;
    margin: 0 auto;
}
.banner {
    position: relative;
    padding: 60px 0px;
    text-align: center;
    min-height: 350px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00154A;
    opacity: 0.55;
}
.banner > div {
    position: relative;
    color: white;
    text-align: center;
}
.banner h3 {
    font-weight: normal;
    font-size: 30px;
    line-height: 1.5;
}
.contenido > div {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 30px 0px;
}
.contenido > div img {
    max-width: 400px;
    border-radius: 50%;
}
.contenido:after {
    content: "";
    position: absolute;
    width: 100%;
    background: url(https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2023/01/17093612/Mask-Group-522-2.jpg);
    height: 120px;
    background-repeat: no-repeat;
    left: 0;
    bottom: -1px;
    transform: rotate(180deg);
    background-size: cover;
    background-position: center;
}
.contenido:before {
    content: "";
    position: absolute;
    width: 100%;
    background: url(https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2023/01/17093612/Mask-Group-522-2.jpg);
    height: 120px;
    background-repeat: no-repeat;
    top: -1px;
    background-size: cover;
    background-position: center;
}
.contenido {
    background: #4E3CC9;
    color: white;
    padding-top: 130px;
    position: relative;
    padding-bottom: 130px;
}
.conferencista > div > div > div {
    width: 25%;
}
.conferencista > div > div {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.conferencista h3 {
    color: #00154A;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.conferencista {
    background-color: #B39DFF;
    padding: 170px 0px;
    position: relative;
}
.conferencista:after {
    content: "";
    position: absolute;
    width: 100%;
    background: url(https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2023/01/17102632/Mask-Group-522-3.jpg);
    height: 120px;
    background-repeat: no-repeat;
    left: 0;
    bottom: -1px;
    transform: rotate(180deg);
    background-position: center top;
    background-size: 100%;
}
.conferencista:before {
    content: "";
    position: absolute;
    width: 100%;
    background: url(https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2023/01/17102632/Mask-Group-522-3.jpg);
    height: 120px;
    background-repeat: no-repeat;
    top: -1px;
    background-position: center top;
    background-size: 100%;
}
.short_contenido {
    margin: 0px 0px 80px 0px;
}
.inscripciones:after {
    content: "";
    width: 110%;
    height: 200px;
    position: absolute;
    background: white;
    border-radius: 100% 100% 0px 0px;
    bottom: -1px;
    left: -5%;
    overflow: hidden;
}

.inscripciones {
    position: relative;
    padding-top: 50px;
    padding-bottom: 300px;
    overflow: hidden;
    margin-bottom: -150px;
    background: #00154A;
}
.inscripciones:before {
    content: "";
    width: 110%;
    height: 150px;
    position: absolute;
    background: white;
    border-radius: 0px 0px 100% 100%;
    top: -1px;
    left: -5%;
}

.inscripciones .container > div {
    display: flex;
    gap: 20px;
}
.inscripciones .container > div > div {
    background: white;
    width: 25%;
    border-radius: 15px;
    text-align: center;
    position: relative;
}
.inscripciones h5 {
    background: #FF7233;
    margin: 0;
    padding: 20px 30px;
    text-align: center;
    color: white;
    border-radius: 15px 15px 0px 0px;
}
.content_inscription {
    padding: 10px 30px;
}
.content_inscription a {
    background: #39D4FB;
    padding: 10px 20px;
    height: auto;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    color: #00154A;
    font-family: 'Poppins';
    font-weight: bold;
}
.content_inscription a:hover {
    color: #39D4FB;
    background: #00154A;
    transition: 2s ease-in-out;
}
.inscripciones > div {
    position: relative;
    text-align: center;
}
.inscripciones .container > div {
    padding-top: 50px;
}
h3.subtitle {
    font-size: 40px;
    font-weight: 200;
    font-family: 'Gilroy';
}
.inscripciones h3.subtitle {
    text-align: center;
}

.inscripciones .container > div > div:after {
    content: "";
    position: absolute;
    background: url(https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2023/01/17112825/Mask-Group-522.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 70px;
    margin-top: 0px;
    z-index: 0;
    right: 0;
    background-size: contain;
    background-position: center;
}
.conferencista > div > div > div img {
    border-radius: 10px;
}

.programa {
    padding-top: 80px;
}

span.date_programa {
    color: #FF7233;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
    display: block;
}

.item-programa > span {
    min-width: 90px;
}
.item-programa p {
    margin: 0;
}
.item-programa {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;
}
.date_day {
    margin-bottom: 70px;
}
.date_day > strong {
    margin-bottom: 10px;
    display: block;
}
.logos {
    text-align: center;
}

.logos img {
    mix-blend-mode: multiply;
    max-width: 1650px;
}
.logos {
    background: #F4F1FF;
    padding: 180px 0px;
    position: relative;
}

.logos:before {
    content: "";
    width: 100%;
    height: 200px;
    background: url(https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2023/01/17144956/Mask-Group-523.jpg);
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

.logos:after {
    content: "";
    width: 100%;
    height: 200px;
    background: url(https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2023/01/17144956/Mask-Group-523.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-size: contain;
    background-position: center top;
}

html {
    scroll-behavior: smooth;
}

.menu ul a {
    color: #00154A;
    font-family: 'Poppins';
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
    padding-left: 0;
}

/** Formulario ***/

div#form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

[type=submit] {
    background-color: #39D4FB;
    color: #00154A;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 17px 17px 17px 17px;
    border: none;
}

input, textarea {
    background-color: #ffffff;
    border-radius: 14px !important;
}

textarea {
    min-height: 100px;
}

label {
    font-family: "Gilroy", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 6px;
    text-align: left;
    width: 100%;
}

form#form_leads > div {
    margin-bottom: 20px;
}

.error {
    border-color: red !important;
}

@media (max-width: 600px){
    .menu ul {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu {
        position: relative;
        z-index: 1;
    }
    .contenido {
        margin-top: -60px;
        margin-bottom: -70px;
    }
    .contenido > div {
        flex-direction: column;
    }
    .container {
        padding: 0px 15px !important;
    }
    .short_contenido {
        position: relative;
        z-index: 1;
    }
    .conferencista {
        padding: 70px 0px;
    }
    .conferencista > div > div {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .conferencista > div > div > div {
        width: 30%;
    }
    .logos {
        padding: 80px 0px;
    }
    .inscripciones .container > div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .inscripciones .container > div > div {
        width: 80%;
        margin-bottom: 30px;
    }
    .inscripciones .container > div > div:after {
        height: 50px;
    }
    div#form {
        padding: 0px 15px;
    }
    h3.subtitle {
        font-size: 30px;
    }
}/* End custom CSS */
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
scp-static/post-48810.css at 69204923c48dbc738841f72c1ea9798623290ba8 · fastandstatic/scp-static
