.elementor-46833 .elementor-element.elementor-element-de920c9 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-46833 .elementor-element.elementor-element-c7f106a img{width:100%;max-width:100%;}.elementor-46833 .elementor-element.elementor-element-c7f106a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46833 .elementor-element.elementor-element-2bdfa8b .elementor-heading-title{color:#00154A;font-family:"Gilroy", Sans-serif;font-size:16px;font-weight:600;}.elementor-46833 .elementor-element.elementor-element-2bdfa8b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46833 .elementor-element.elementor-element-4959abd .elementor-heading-title{color:var( --e-global-color-53d9c2f3 );font-family:"Gilroy", Sans-serif;font-size:13px;font-weight:400;}.elementor-46833 .elementor-element.elementor-element-4959abd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 10px 0px;}.elementor-46833 .elementor-element.elementor-element-ee7974a .elementor-button{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:700;fill:#39D4FB;color:#39D4FB;background-color:#FFFFFF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#39D4FB;border-radius:11px 11px 11px 11px;}.elementor-46833 .elementor-element.elementor-element-ee7974a .elementor-button:hover, .elementor-46833 .elementor-element.elementor-element-ee7974a .elementor-button:focus{color:#FFFFFF;background-color:#00154A;border-color:#00154A;}.elementor-46833 .elementor-element.elementor-element-ee7974a .elementor-button:hover svg, .elementor-46833 .elementor-element.elementor-element-ee7974a .elementor-button:focus svg{fill:#FFFFFF;}.jet-listing-item.single-jet-engine.elementor-page-46833 > .elementor{width:300px;margin-left:auto;margin-right:auto;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100107/Gilroy-Bold.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100100/Gilroy-Bold.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100116/Gilroy-Bold.ttf') format('truetype'),
		url('https://scp.com.co/wp-content/uploads/2022/12/Gilroy-Bold.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100107/Gilroy-Bold.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100100/Gilroy-Bold.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100116/Gilroy-Bold.ttf') format('truetype'),
		url('https://scp.com.co/wp-content/uploads/2022/12/Gilroy-Bold.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100328/Gilroy-Medium.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100328/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100305/Gilroy-Medium.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100257/Gilroy-Medium.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100313/Gilroy-Medium.ttf') format('truetype'),
		url('https://scp.com.co/wp-content/uploads/2022/12/Gilroy-Medium.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103053/Gilroy-Light.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103053/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103028/Gilroy-Light.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103021/Gilroy-Light.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103036/Gilroy-Light.ttf') format('truetype'),
		url('https://scp.com.co/wp-content/uploads/2022/12/Gilroy-Light.svg#Gilroy') format('svg');
}
/* End Custom Fonts CSS */