.elementor-49383 .elementor-element.elementor-element-9fdbd9c > .elementor-container{min-height:347px;}.elementor-49383 .elementor-element.elementor-element-9fdbd9c:not(.elementor-motion-effects-element-type-background), .elementor-49383 .elementor-element.elementor-element-9fdbd9c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-49383 .elementor-element.elementor-element-9fdbd9c, .elementor-49383 .elementor-element.elementor-element-9fdbd9c > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-49383 .elementor-element.elementor-element-9fdbd9c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-49383 .elementor-element.elementor-element-9fdbd9c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-49383 .elementor-element.elementor-element-325eee1 > .elementor-element-populated{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-49383 .elementor-element.elementor-element-325eee1 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-49383 .elementor-element.elementor-element-325eee1 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-49383 .elementor-element.elementor-element-4550abd > .elementor-container{min-height:109px;}.elementor-49383 .elementor-element.elementor-element-4550abd > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-49383 .elementor-element.elementor-element-4550abd{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-49383 .elementor-element.elementor-element-4550abd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-49383 .elementor-element.elementor-element-9ecfcb7{text-align:left;}.elementor-49383 .elementor-element.elementor-element-9ecfcb7 .elementor-heading-title{color:#FFFFFF;font-family:"Gilroy", Sans-serif;font-size:16px;font-weight:400;text-transform:capitalize;line-height:19px;}.elementor-49383 .elementor-element.elementor-element-2992dce{text-align:left;}.elementor-49383 .elementor-element.elementor-element-2992dce .elementor-heading-title{color:#FFFFFF;font-family:"Gilroy", Sans-serif;font-size:16px;font-weight:600;line-height:19px;}.jet-listing-item.single-jet-engine.elementor-page-49383 > .elementor{width:356px;margin-left:auto;margin-right:auto;}/* Start custom CSS for column, class: .elementor-element-325eee1 */.elementor-49383 .elementor-element.elementor-element-325eee1{
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.7px);
-webkit-backdrop-filter: blur(13.7px);

}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100107/Gilroy-Bold.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100100/Gilroy-Bold.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100116/Gilroy-Bold.ttf') format('truetype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/28171241/Gilroy-Bold.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100131/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100107/Gilroy-Bold.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100100/Gilroy-Bold.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100116/Gilroy-Bold.ttf') format('truetype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/28171241/Gilroy-Bold.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100328/Gilroy-Medium.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100328/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100305/Gilroy-Medium.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100257/Gilroy-Medium.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14100313/Gilroy-Medium.ttf') format('truetype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/28171241/Gilroy-Medium.svg#Gilroy') format('svg');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103053/Gilroy-Light.eot');
	src: url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103053/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103028/Gilroy-Light.woff2') format('woff2'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103021/Gilroy-Light.woff') format('woff'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/14103036/Gilroy-Light.ttf') format('truetype'),
		url('https://scpwpoffloadmedia.s3.amazonaws.com/wp-content/uploads/2022/12/28171240/Gilroy-Light.svg#Gilroy') format('svg');
}
/* End Custom Fonts CSS */